<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2 p-4">
            <h5>{{(dictionary$ | async) | translation:'Search bar'}}</h5>
            <form *ngIf="filterOptions" [formGroup]="filterForm" class="pt-4">
                <label for="brand-select">
                    {{(dictionary$ | async) | translation:'Brand'}}
                </label>
                <div class="row">
                    <select id="brand-select" formControlName="brand" class="form-select">
                        <option *ngFor="let brand of filterOptions.brandOptions" [value]="brand.id">
                            {{ brand.name }}
                        </option>
                    </select>
                </div>
                <label for="minPrice-select">
                    {{(dictionary$ | async) | translation:'Price'}}
                </label>
                <div class="row">
                    <select id="minPrice-select" formControlName="minPrice" class="form-select">
                        <option *ngFor="let price of filterOptions.priceOptions" [value]="price.minPrice">
                            {{ price.textMinPrice }}
                        </option>
                    </select>
                    <select id="maxPrice-select" formControlName="maxPrice" class="form-select">
                        <option *ngFor="let price of filterOptions.priceOptions" [value]="price.maxPrice">
                            {{ price.textMaxPrice }}
                        </option>
                    </select>
                </div>
            </form>
            <div class="row mt-2">
                <button (click)="clearFilters()" class="btn btn-outline-secondary">
                    {{(dictionary$ | async) | translation:'RemoveFilters'}}
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-10">
            <div *ngIf="cars$ | async as cars; else loadingBlock" class="row row-cols-1 row-cols-md-3 g-4">
                <div *ngFor="let car of cars" class="col-md-6 col-lg-6 col-xl-4">
                    <div class="card">
                        <a [routerLink]="['/cars', car.id]">
                            <img [src]="baseApiUrl + car.imageUrl" class="card-img-top img-thumbnail" alt="Car image" />
                        </a>
                        <div class="card-body">
                            <a [routerLink]="['/cars', car.id]"
                                class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">
                                <h5 class="card-title">
                                    {{ car.name + " " + car.launchDate.slice(0, 4) }}
                                </h5>
                            </a>
                            <div class="row">
                                <div class="col-1">
                                    <img *ngIf="settings$ | async as settings"
                                        [src]="baseApiUrl + settings.fuelIcon[0].url" class="rounded float-start"
                                        alt="Fuel Icon" style="width: 20px; height: 20px" />
                                </div>
                                <div class="col">
                                    <span class="text-body-secondary">{{ car.fuel }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <img *ngIf="settings$ | async as settings"
                                        [src]="baseApiUrl + settings.transmissionIcon[0].url" class="rounded float-start"
                                        alt="Transmission Icon" style="width: 20px; height: 20px" />
                                </div>
                                <div class="col">
                                    <span class="text-body-secondary">{{
                                        car.transmission
                                        }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <img *ngIf="settings$ | async as settings"
                                        [src]="baseApiUrl + settings.locationIcon[0].url" class="rounded float-start"
                                        alt="Location Icon" style="width: 20px; height: 20px" />
                                </div>
                                <div class="col">
                                    <span class="text-body-secondary">{{ car.location }}</span>
                                </div>
                            </div>
                            <div *ngIf="car.discount > 0 && (isAuth$ | async); else elsePriceBlock" class="row">
                                <div class="col text-success">
                                    <h5 class="text-danger text-decoration-line-through">
                                        {{ car.price | price }}
                                    </h5>
                                </div>
                                <div class="col text-success">
                                    <h5>
                                        {{car.price | discountPrice:car.discount}}
                                    </h5>
                                </div>
                            </div>
                            <ng-template #elsePriceBlock>
                                <div class="row">
                                    <h5 class="text-success">
                                        {{ car.price | price }}
                                    </h5>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div *ngIf="cars.length === 0" class="alert alert-light" role="alert">
                    No cars matching the selected criteria were found.
                </div>
            </div>
            <ng-template #loadingBlock>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </ng-template>
            <ng-container *ngIf="totalPages$ | async as totalPages">
                <app-pagination *ngIf="totalPages > 1 && (currentPage$ | async) as current" [currentPage]="current"
                    [totalPages]="totalPages" (pageChanged)="pageChanged($event)"></app-pagination>
            </ng-container>
        </div>
    </div>
</div>

