<footer *ngIf="homeNodeData | async as homeNodeData" class="text-center text-lg-start bg-light text-muted">
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3 p-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3">Car sale</i>
                    </h6>
                    <p>{{ homeNodeData.FooterTitle }}</p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3">{{ homeNodeData.address }}</i></p>
                    <p><i class="fas fa-envelope me-3">{{ homeNodeData.email }}</i></p>
                    <p><i class="fas fa-phone me-3">{{ homeNodeData.phone }}</i></p>
                    <p><i class="fas fa-print me-3">{{ homeNodeData.phone }}</i></p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
        © 2023 Copyright:
        <a routerLink="" class="text-reset fw-bold">CarSale.com</a>
    </div>
</footer>
